.button {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    padding: 5px;
    background-color: rgb(75, 2, 75);
    margin: 0;
    position:fixed;
    top: 0;
   border-radius: 0 10px;
}

.button nav{
    display: flex;
    margin: 15px;
    
}
.button h1 {
    color: pink;
    font-size: medium;
    margin: 15px;
}

.button ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.button li {
    margin-right: 20px;
} 
.button a {
    text-decoration: none;
    color: pink;
    
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg/1549940902889.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    backdrop-filter: blur(15px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 4px 30px pink;
    
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.container h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: bounce 2s infinite; 
    text-shadow: 2px 2px 4px pink; 
    color: #ff69b4;
}

.container nav {
    margin-bottom: 40px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.container li {
    position: relative;
    margin: 30px;
}

.container li::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: white;
    
}

li:last-child::after {
    content: none;
}

a {
    text-decoration: none;
    color: pink;
}